<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo">Gasoline</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Settings', stations_path %></li>
        <li><%= link_to 'Planning', plans_path %></li>
      </ul>
    </div>
  </div>
</nav>