<div class="section">
  <h5>Filer</h5>
  <%= form_tag '', method: :get do %>
    <div class="row">
      <div class="input-field col s4">
        <%= date_field_tag :begin_date, class: 'datepicker' %>
      </div>
      <div class="input-field col s4">
        <%= date_field_tag :end_date, class: 'datepicker'  %>
      </div>
      <div class="input-field col s4">
        <%= submit_tag 'Filter', class: 'btn' %>
      </div>
    </div>
  <% end %>
</div>
<div class="divider"></div>