@import "materialize/components/color";
$primary-color: color("blue-grey", "base") !default;
$secondary-color: color("light-green", "base") !default;
@import 'materialize';

$nprogress-color: $secondary-color !default;
//$nprogress-height: 5px;
//$nprogress-zindex: 10100;
@import 'nprogress';

//toasts
.toast-success {
  background-color: $secondary-color;
}

.toast-fail {
  background-color: color("deep-orange", "darken-1");
}

.btn-social {
  margin-left: 5px;
}

.login-form {
  width:400px;
  margin:0 auto;
  margin-top:150px;
}

.important-label {
  background-color: #ff5722 !important;
  color: white;
  border-left-width: 2px;
  padding: 2px 5px;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 2px;
  font-size: 13px;
}

.tank-number-label {
  background-color: $secondary-color;
  color: white;
  border-left-width: 2px;
  padding: 2px 5px;
  margin-left: 5px;
  border-radius: 2px;
  font-size: 11px;
}

tbody {
  font-size: 14px
}

//animations
//fade in up

@mixin animate($name, $duration: .3s, $delay: 0, $iterate: 1) {
  $delay: $delay + '';

  @if (str-index($delay, s) == null) {
    $delay: unquote($delay + 's');
  }

  animation: $name $duration $delay $iterate;
}

.animated {
  animation-duration: .3s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  @extend .animated;
  animation-name: fadeIn;
}